# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Allow prebuilt third-party binaries
!libs/**/*.dll
!libs/**/*.lib
!libs/**/*.a

# Ignore engine artifacts, not prebuilt libs
!extern/**

# Executables
*.exe
*.out
*.app
*.exp
*.pdb
*.ilk
